.code {
	display: flex;
	width: 1080px;
}

.code__left {
	align-items: flex-end;
}

.code__right {
	width: 720px;
}

.code__heading {
	background-color: aliceblue;
}

pre {
	margin-top: 0;
	background-color: #eee;
	color: black;
	padding: 16px;
	border-radius: 16px;
}