.header {
	display: flex;
	justify-content: space-between;
	height: 400px;
	width: 100%;
	background-color: blue;
}

.avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 4px solid #ebe300;
}

.contact-info {
	margin-top: 64px;
	background-color: #ebe300;
	font-family: var(--heading-font);
}

.contacts {
	margin-top: 24px;
	margin-bottom: 0;
	padding-left: 0;
}

.contacts__text {
	font-size: 24px;
	list-style-type: none;
}

.contacts__text:nth-child(n+1) {
	margin-top: 16px;
}

.vacancy {
	margin: 0;
}

