.menu {
	height: 60px;
	/* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAADpJREFUKFONzEsKADAIA9Hk/oe2WGjpR6OzfgzRy9hwBoAVnMhnCm6k4IUy+KEIhuiFKTqhRAuWyOEA/DwKCnfY+F8AAAAASUVORK5CYII=) repeat; */
	background-color: #ebe300;
	display: flex;
	justify-content: flex-start;
}

.menu__list {
	display: flex;
	align-items: center;
	padding: 0;
}

.menu__item {
	text-decoration: none;
	font-size: 16px;
	flex-shrink: 1;
	font-family: 'Montserrat', sans-serif;
	list-style-type: none;
	font-weight: 500;
}

.menu__item__link {
	color: #404040;
}

.menu__item:nth-child(n+1) {
	margin-left: 32px;
}

.menu__item:first-child {
	margin-left: 0	;
}

.menu__item__link {
	text-decoration: none;
}

