/* import variables file */
@import url(./css/variables.css);

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* import blocks styles */
@import url(./css/menu.css);
@import url(./css/header.css);
@import url(./css/bio.css);
@import url(./css/skills.css);
@import url(./css/code.css);
@import url(./css/experience.css);
@import url(./css/footer.css);

/* common document style */
body {
	margin: auto;
	padding: 0;
	width: 1080px;
	display: flex;
	flex-direction: column;
	background-color: #1c1c1c;
}

/* Modifiers */

/* .content-width {
	width: 600px;
} */

/* Common Modifiers */

.font {
	font-family: var(--heading-font);
}

.heading-bg {
	background-color: #ebe300;
}

.wrapper, footer {
	display: flex;
	width: 1080px;
}

.wrapper-left {
	width: 360px;
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper-right {
	width: 720px;
	background-color: blue;
}

.heading-mrgn {
	margin-left: 360px;
}

.content-mrgn {
	margin-left: 32px;
}

.block {
	display: flex;
	flex-direction: column;
}

.block__content {
	display: flex;
	flex-direction: row;
}

/* Header Modifiers */

.header-heading {
	margin-left: 0;
	margin-top: 48px;
}

.header-left {
	justify-content: space-between;
}